.footercon{
    background-color: black;
    padding: 20px 0;
}

.inner_footer div ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.inner_footer div ul li a{
    color: white;
    text-decoration: none;
}

.inner_footer div:nth-child(2){
    text-align: center;
    color: white;
    margin: 10px 0;
}

.inner_footer div:nth-child(2) a{
    color: rgb(3, 192, 129);
    text-decoration: none;
}