.row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    /* padding: 30px 0; */
    width: 90%;
    margin: 50px auto;
}

.col img{
    width: 80%;
}

.col h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.col p{
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 10px;
}

.col a{
    color: black;
    font-size: 18px;
}

@media only screen and (max-width: 1100px) {
    .row{
        width: 95%;
    }
}

@media only screen and (max-width: 850px) {
    .row{
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        gap:0px;
        align-items: center;
        /* padding: 30px 0; */
        width: 90%;
        margin: 30px auto;
    }

    .col img{
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {

    .col img{
        width: 90%;
    }
}